{% extends "MyOwnBundle::layout.html.twig"%}
{% block content -%}
	<div class ="panel-options">
		<a href="{{path("section_show", {"category_id": topic.section.category.id, "id": topic.section.id})}}"> {{section.name}}</a>
	</div>	
	<div class = "post-body">
    <h1>Title: {{ topic.name }}</h1>
		<h4>Author: {{topic.user}}</h4>
		{% if app.user != "" %}
			{% if app.user.admin or app.user.id == topic.id %}
				<div class ="post-options">
					<a href="{{path('topic_edit', {'category_id':topic.section.category.id, 'section_id': topic.section.id, 'id': topic.id})}}">Edit</a>
				</div>
			{% endif %}	
		{% endif %}
		
		<p>{{topic.content}}</p>
	</div>
	{%for post in topic.posts %}
		<div class = "post-body">
	    <h4>Title: {{ post.title }}</h4>
			<h4>Author: {{post.user}}</h1>
			{% if app.user !="" %}
				{% if app.user.admin == TRUE or app.user.id == post.user.id %}
					<div class ="post-options">
						<form name="form" method="post" action="{{path("post_delete", {"category_id": post.topic.section.category.id, "section_id": post.topic.section.id, "topic_id": post.topic.id, "id": post.id})}}"><input type="hidden" name="_method" value="DELETE"><div id="form"><div><button type="submit" id="form_submit" name="form[submit]">Delete</button></div><input type="hidden" id="form__token" name="form[_token]" value="t5MTBDHd3o5efueo-KeA4Hx4aeOue-Gce7G3DQlP7a8"></div></form>
						<p><a href="{{path("post_edit", {"category_id": topic.section.category.id, "section_id": topic.section.id, "topic_id": topic.id, "id": post.id})}}">Edit</a></p>
				
					</div>
				{% endif %}	
			{% endif %}	
			<p>{{post.content}}</p>
		</div>
	{% endfor %}
	{% if app.user != "" %}
		<div class ="reply">
			<a href="{{ path("post_new", {"category_id": topic.section.category.id, "section_id": topic.section.id, "topic_id": topic.id} )}}">Reply to this thread</a>
		</div>	
	{% endif %}
		
{% endblock %}
